body {
    background-image:url(img/background.jpg);
    background-position:center;
    background-attachment: fixed;
    background-repeat:no-repeat;    
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: rgba(0,0,20,0.8);
    color: wheat;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.myCass-ForBookDiv{
      display: block;
  }

.myCass-ForBookDiv div{
    position: relative;
    background-color: #222;
    display: block;
    width: 350px;
    height: 350px;
    float: left;
    margin: 2px;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    border: 1px solid #222;
    color: #bbb;
}

.myCass-ForBookDiv div:hover{
 border:solid 2px red;
 font-size:110%;
}
